# python package required for the project
# fairseq ( build from source )
torch
numpy<1.24
transformers
datasets
g2p_en
editdistance
edit_distance
soundfile
tensorboardX
npy_append_array
wandb
faiss-gpu
pandas<2.0